    <h1>Multiple Choice Party</h1>
    <h2>Saturday, October 13 &emdash; 3pm &ndash; 10</h2>
    <address>
      <a href="http://goo.gl/maps/w9fNs">3301 39th Avenue South<br />
      Minneapolis MN 55406</a>
    </address>
    <p>It only takes one reason to throw a party, but in our case we have <em>too many</em> reasons. So it is up to you to decide why you are attending our party. Choose your reason!</p>
    <ul>
      <li>A visit from Bret Kramer, Maria Cedroni and their daughter Lilah</li>
      <li>Ian &amp; Laura's 5th anniversary</li>
      <li>Tasty, slow-cooked bbq pork</li>
      <li>Premature birthday party for Evelyn and/or Laura</li>
      <li>Ian &amp; Laura's new deck</li>
      <li>2nd Anniversary of the freeing of the Chilean Miners</li>
    </ul>
    <p>We'll have food, drinks, etc. Maybe even a firepit.</p>