    <h1>Multiple Choice Party</h1>
    <h2>Saturday, October 13 &mdash; 3pm &ndash; 10</h2>
    <address>
      <a href="http://goo.gl/maps/w9fNs">3301 39th Avenue South<br />
      Minneapolis MN 55406</a>
    </address>
    <p>It only takes one reason to throw a party, but in our case we have <em>too many</em> reasons. So it is up to you to decide why you are attending our party. Choose your reason!</p>
    <ul>
      <%= render @reasons %>
      <li>I have another reason</li>
    </ul>
    <p>We'll have food, drinks, etc. Maybe even a firepit.</p>