// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Goudy Bookletter 1911', serif;
  color: #034569;
  background-color: #E8E3ED;
}

.selected_reason {
  background-color: #64AAD0;
}

#right {
  background-color: #ffbf73
}